* {
    padding: 0;
    margin: 0;
}

.backg1 {
    height: 370px;
    position: relative;
}

.backg2 {
    height: 150px;
    padding-top: 90px;
    background: #AEC09A;
    position: relative;
    width: 100%;
}

.backg2::before{
    position: absolute;
    content: '';
    width: 60%;
    height: 125px;
    top: -50px;
    left: 0;
    background: #AEC09A;
    transform: skewY(10deg);
}

.backg2::after{
    position: absolute;
    content: '';
    width: 60%;
    top: -50px;
    height: 125px;
    right: 0;
    background: #AEC09A;
    transform: skewY(-10deg);
}